/*******tic-tac-toe******/
#tic-tac-toe .disable {
  text-transform: uppercase;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#tic-tac-toe #game li {
  float: left;
  padding: 0;
  list-style: none;
  text-align: center;
  /* padding-bottom: 2.4rem; */
  /* margin-bottom: 20px; */
  color: #fff;
  height: 90px;
  line-height: 90px;
  font-size: 40px;
  color: #ccc;
}
#tic-tac-toe #game li.disable {
  color: #fff;
}
#tic-tac-toe #game {
  float: left;
  padding: 0;
  clear: both;
}
.new_span {
  width: 226px;
}
#tic-tac-toe #reset {
  padding: 5px 10px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  clear: both;
  cursor: pointer;
  float: left;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  width: 204px;
}

#currentMarker {
  margin-left: 0.5rem;
}
.input-prepend span.pre_text {
  width: 55px;
}
.input-prepend .span1 {
  width: 93px;
}
.input-prepend {
  margin-bottom: 10px;
}
.clr {
  clear: both;
  height: 0;
}
#tic-tac-toe h1 {
  text-align: center;
  font-size: 28px;
}
#tic-tac-toe li::-moz-selection {
  background: none;
  color: #000;
}
#tic-tac-toe li::-webkit-selection {
  background: none;
  color: #000;
}
#tic-tac-toe {
  width: 220px;
  margin: 0 auto;
}
.input-append .win_times {
  /* background: #fff; */
  width: 101px;
}
.input-append .win_text {
  width: 52px;
}
.btn {
  /* border-color: black; */
  border-width: 0.2rem;
  border-radius: 0%;
}
#one {
  border-right: 0.2rem solid black;
  border-bottom: 0.2rem solid black;
}
#two {
  border-right: 0.2rem solid black;
  border-bottom: 0.2rem solid black;
  border-left: 0.2rem solid black;
}
#three {
  border-left: 0.2rem solid black;
  border-bottom: 0.2rem solid black;
}
#four {
  border-right: 0.2rem solid black;
  border-bottom: 0.2rem solid black;
  border-top: 0.2rem solid black;
}
#five {
  border: 0.2rem solid black;
}
#six {
  border-left: 0.2rem solid black;
  border-bottom: 0.2rem solid black;
  border-top: 0.2rem solid black;
}
#seven {
  border-right: 0.2rem solid black;
  border-top: 0.2rem solid black;
}
#eight {
  border-right: 0.2rem solid black;
  border-top: 0.2rem solid black;
  border-left: 0.2rem solid black;
}
#nine {
  border-left: 0.2rem solid black;
  border-top: 0.2rem solid black;
}

/*******tic-tac-toe END******/

.container {
  /* padding: 9% 8%; */
  width: 100%;
  text-align: center;
  margin: 7% 7% 0%;
  width: 100%;
  /* height: 100%; */
  position: absolute;
  top: 0;
  left: 0;
  /* position: relative; */
}

.current-marker {
  margin-bottom: 1rem;
}
/* congrats animation */
@keyframes confetti-slow {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
 }
  100% {
    transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
 }
}
@keyframes confetti-medium {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
 }
  100% {
    transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
 }
}
@keyframes confetti-fast {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
 }
  100% {
    transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
 }
}
.congrats-container {
  width: 100vw;
  height: 100vh;
  padding: 10% 7% 0%;
  /* background: #fff; */
  border: 1px solid white;
  display: fixed;
  top: 0px;
}
.confetti-container {
  perspective: 700px;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.confetti {
  position: absolute;
  z-index: 1;
  top: -10px;
  border-radius: 0%;
}
.confetti--animation-slow {
  animation: confetti-slow 2.25s linear 1 forwards;
}
.confetti--animation-medium {
  animation: confetti-medium 1.75s linear 1 forwards;
}
.confetti--animation-fast {
  animation: confetti-fast 1.25s linear 1 forwards;
}

body{
  /* background-color: #6a11cb; */
  background-image: linear-gradient(to top, #6a11cb 0%, #2575fc 100%) !important; 
}